// BASE
$color-dark: #4B4453;
$color-mauve: #845EC2;
$color-froly: #B0A8B9;
$color-gray: #e2e2e2;
$color-lightGray: #efefef;
$color-almostred: #C34A36;
$color-coral: #FF8066;
$color-white: #fcfcfc;
$color-green: green;
$color-red: red;

// PALETTE
$color-primary: $color-almostred;
$color-secondary: $color-mauve;
$color-accent: $color-coral;

// BACKGROUND
$color-body-bg-alt: $color-lightGray;
$color-body-bg: $color-dark;

// TYPOGRAPHY
$color-text-default-alt: $color-mauve;
$color-text-default: lighten($color-mauve, 10%);
$color-text-alt: $color-dark;
$color-text-alt2: darken($color-white, 20%);
$color-text-primary: $color-primary;
$color-text-secondary: $color-secondary;

$color-heading-default: $color-text-default-alt;

// LINKS
$color-link-text: $color-text-default;
$color-link-text-active: $color-text-default;
$color-link-text-hover: $color-primary;

// INPUTS
$color-input-border: lighten($color-heading-default, 50%);
$color-input-bg: transparent;
$color-input-success: $color-green;
$color-input-error: $color-red;

// BUTTONS
// regular
$color-button-bg: $color-primary;
$color-button-bg-disabled: darken(desaturate($color-button-bg, 25%), 30%);
$color-button-bg-hover: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: $color-white;
// alt
$color-buttonAlt-bg: transparent;
$color-buttonAlt-bg-hover: rgba(255, 255, 255, 0.25);
$color-buttonAlt-text: $color-dark;
$color-buttonAlt-border: $color-dark;

// BLOG
$color-blog-image-beforeElement: $color-gray;
